# Gradle
.gradle/
build/
out/
classes/

# Eclipse
*.launch
.settings/
.metadata/
.classpath
.project
bin/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# NetBeans
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# macOS
.DS_Store

# Forge
run/
logs/
crash-reports/

# Other
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.zip
*.class
